<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的网站-主页</title>
<link href="/public/css/vendors.css?bd3e1aae5ecf79532c4d" rel="stylesheet"><link href="/public/css/home.css?bd3e1aae5ecf79532c4d" rel="stylesheet"></head>
<body>
	<div class="homeBox">
		
	</div>
	<div id="home">
		
	</div>
<script type="text/javascript" src="/public/js/vendors.js?bd3e1aae5ecf79532c4d"></script><script type="text/javascript" src="/public/js/home.js?bd3e1aae5ecf79532c4d"></script></body>
</html>